.control2:checked~.image2 {
    left: 33%;
    width: 32%;
    top: 100%;
    z-index: 4;
    position: absolute;
    transform: translate(-50%, -50%);

}

.control1:checked~.image1 {
    left: 33%;
    width: 32%;
    top: 100%;
    z-index: 4;
    position: absolute;
    transform: translate(-50%, -50%);

    // transform: scale(1.02) translate(-50%, -50%);
}

.control1:checked~.image2 {
    left: 0;
    width: 32%;
    position: absolute;
    top: 100%;
    transform: translate(-50%, -50%);
}

.control3:checked~.image3 {
    left: 33%;
    width: 32%;
    top: 100%;
    z-index: 4;
    position: absolute;
    transform: translate(-50%, -50%);
    // transform: scale(1.02) translate(-50%, -50%);
}

.control3:checked~.image2 {
    width: 32%;
    left: 66%;
    top: 100%;
    transform: translate(-50%, -50%);
    // max-width: 10rem;
    position: absolute;
}

.image {
    &-instagram {
        &-hide {
            width: 32%;
            top: 100%;
            display: none;
            // width: 32%;
        }

        image-rendering: pixelated;
        left: 33%;
        width: 32%;
        top: 100%;
        // max-width: 10rem;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &1 {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: 0;
        width: 32%;
        position: absolute;
        top: 100%;
        transform: translate(-50%, -50%);
    }

    &2 {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: 33%;
        width: 32%;
        top: 100%;
        // max-width: 10rem;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &3 {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        width: 32%;
        left: 66%;
        top: 100%;
        transform: translate(-50%, -50%);
        // max-width: 10rem;
        position: absolute;
    }
}

.image2 {}