.carousel {
    height: 396px;
}


.image {
    &-instagram {
        &-hide {
            width: 32%;
            top: 100%;
            display: none;
            // width: 32%;
        }

        image-rendering: pixelated;
        left: 33%;
        width:40%;
        // top: 1.8rem;    
        top: 50%;
        // max-width: 10rem;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    &-center {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: 33%;
        width: 34%;
        position: absolute;
        top: 43%;
        transform: translate(-50%, -50%);
    }

    &-left {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: -2%;
        width: 32%;
        position: absolute;
        top: 43%;
        transform: translate(-50%, -50%);
    }

    &-right {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: 69%;
        width: 32%;
        position: absolute;
        top: 43%;
        transform: translate(-50%, -50%);
    }

    &-rextend {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: 87%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        width: 32%;
        position: absolute;
        top: 43%;
        transform: translate(-50%, -50%);
    }

    &-lextend {
        cursor: pointer;
        image-rendering: pixelated;
        transition: all 0.2s;
        left: -36%;
        clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
        width: 32%;
        position: absolute;
        top: 43%;
        transform: translate(-50%, -50%);
        // display: none;
    }

    &-back {
        left: -100%;
        display: none;
    }

    &1 {}


}

.image2 {}